<table class="tableau">
	<% let noLigne = 0 %>

	<% for(elm of adresses) {%>
		<% if (noLigne==0) { %>
			<tr>
				<% noLigne++ %>
				<% for(elem in elm) {%>
					<td><%= elem %></td>
				<%}%>
			</tr>
		<% } %>

		<tr>
			<% for(elem in elm) {%>
				<td><%= elm[elem] %></td>
			<%}%>
		</tr>
	<% } %>

	<form action="/ajouter" method="POST">
	  <input type="text" placeholder="nom" name="nom">
	  <input type="text" placeholder="telephone" name="telephone">
	  <button type="submit">Submit</button>
	</form>

</table>